$primary: #800080;
$secondary: #ccff66;
$font-family-base: 'Merriweather', serif;
$font-weight-normal: 300;
$headings-font-family: 'Raleway', sans-serif;
$headings-font-weight: 700;
@import "../../_sass/bootstrap/bootstrap";
b {
  font-weight: 700;
}
body {
  background-color: $secondary;
}
h1, h2, h3, h4, h5, h6 {
  text-align: left;
}
.home-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
  margin-bottom: -7em;
}
html {
  font-size: 10pt;
  min-height: 100%;
  position: relative;
}
.nav {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  a:hover:not(.active) {
    border-style: solid;
    border-width: $btn-border-width;
    border-color: $primary;
    color: $primary;
    margin: -$btn-border-width;
  }
  .nav-item {
    margin: 0 0.1em;
  }
}
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: '-';
}